{% comment %}

Used by: views.people_search

Lists entities and people that match search term.

{% endcomment %}
{% load i18n entity_tags staticfiles %}
{% block scripts %}
<script type="text/javascript">
{% autoescape off %}

var AJAX_PAGING = 50
var res_entities_cache = {}
var res_search_terms_cache = '';
var res_page_num_cache = 0;
var res_people_count_cache = 0;

function ajax_people_search(search_terms, page_num, ret_func)
{
    if (!search_terms)
        return;
    var get_entities_list = 0;
    if (page_num == 1)
        get_entities_list = 1;
    var get_args = {
        "search_terms": search_terms,
        "get_entities_list": get_entities_list,
        "obj_return": AJAX_PAGING,
        "obj_skip": AJAX_PAGING * (page_num-1), 
    };
    $.getJSON( "{% url ajax-people-search %}", get_args, function(data) {
        if (page_num == 1)
            res_people_count_cache = parseInt(data.people_count);
        ret_func(data);
    });
}

function ajax_person_row_render(person)
{
    var borderedSquare = '<div class="borderedSquareTL"><!--w3c--></div><div class="borderedSquareTR"><!--w3c--></div><div class="borderedSquareBL"><!--w3c--></div><div class="borderedSquareBR"><!--w3c--></div><div class="c"><!--w3c--></div>'
    var assoc_entity = { 'inst_address': [], 'postal_address': [], };
    if (res_entities_cache.hasOwnProperty(person.entity_id))
        assoc_entity = res_entities_cache[person.entity_id];
    var row = '<div class="borderedRow freshRow"><div class="borderedName contactColumn">'+person.name+borderedSquare+'</div>';
    var inst_addr = assoc_entity.inst_address.join('<br/>');
    if (inst_addr)
        inst_addr += ', <br/>';
    inst_addr += person.role;
    row += '<div class="borderedAddress contactColumn">'+inst_addr+borderedSquare+'</div>';
    var contact_details = person.phones;
    if (contact_details)
        contact_details += '<br/>';
    contact_details += person.email+'<br/>';
    contact_details += assoc_entity.postal_address.join(', ');
    row += '<div class="borderedDetails contactColumn">'+contact_details+borderedSquare+'</div><div class="c"><!--w3c--></div></div>';

    $(row).appendTo('#people');
    
}

var setHeight = function(){
     //Set height of inner row elements
            
        var divRow = $("#people > div.freshRow")
        var colHeightTransform = function(){
            
            divRow.each(function(){
                
                var divCol = $(this).find('> div[class*="contactColumn"]');
                var colHeight = 0;
                divCol.each(function(){
                    if ( $(this).outerHeight() > colHeight ) {
                        colHeight = $(this).outerHeight();
                    }
                });
                
                divCol.css("height", colHeight);
                
            });
        };
        
        var colHeightTransformRecall = function(){
            divRow.find('> div[class*="contactColumn"]').css("height", "auto");
            colHeightTransform();
        };
        
        $(window).resize(colHeightTransformRecall);
        $(window).load(colHeightTransformRecall);
        
        colHeightTransform();
        
        divRow.removeClass("freshRow");
};
           
    
    
$(document).ready( function() {
    $('#search_form').submit( function() {
        //display result containing div's
        $("#main #contactsLoading").show();
        var search_terms = $('#search_terms').val();
        ajax_people_search(search_terms, 1, function(data) {
            $('#entities_results_placeholder').html('<ul id="entities"></ul>');
            $.each(data.entities, function(i, entity) {
                $('<li><a href="" data-entityid="'+i+'">'+entity.name+' ('+entity.members_count+')</a></li>').appendTo("#entities");
            });
            res_entities_cache = data.entities;
            $('#entities a').click( function(el) {
                el.preventDefault();
                alert($(el).data('entityid'));
            });
            
            $('#people_results_placeholder').html('<div id="people"></div>');
            $.each(data.people, function(i, person) {
                ajax_person_row_render(person);
            });
            $("#main #contactsLoading").hide();
            $("#main > div.contactsResults").show();
            $("#main > div.contactsList").show();
            $("#main > #contactsToTop").show();

            if (res_people_count_cache == 0) {
                // parasyti kad nieko nerasta!!!
                res_page_num_cache = 0;
                return;
            }

            setHeight();
 
            res_search_terms_cache = search_terms;
            res_page_num_cache = 1;
        });
        return false;
    });
    
    $('#contactsToTop').click( function (){
        $("html, body").animate({ scrollTop: 0 }, "slow");
        return false;
    });
    
    $(window).scroll(function () {
        var triggerMoreResults = $('#trigger_more_results').position().top;
        if ($(this).scrollTop() + $(window).height() > triggerMoreResults) {
            if (res_page_num_cache > 0 && res_poeple_count_cache > res_page_num_cache*AJAX_PAGING) {
                $("#main #contactsLoading2").show();
                ajax_people_search(res_search_terms_cache, res_page_num_cache+1, function(data) {
                    $.each(data.people, function(i, person) {
                        ajax_person_row_render(person);
                    });
                    $("#main #contactsLoading2").hide();
                    setHeight();
                });
                res_page_num_cache += 1;
            }
            else {
                // no more results
                res_page_num_cache = 0;
            }
        }
    });
});





{% endautoescape %}
</script>
{% endblock %}
<div class="contacts">
    <h1>{% trans "Kontaktai" %}</h1>
    <p>{% trans "Kontaktų paieškoje galite rasti darbuotojų kontaktus, padalinių adresus. Į paiešką įveskite ieškomą frazę arba dalį jos. Norėdami surasti konkretų darbuotoją iš tam tikro padalinio, rašykite padalinio pavadinimą ir darbuotojo vardą arba pavardę." %}</p>
    <form id="search_form">
        <input id="search_terms" name="search_terms" type="text"/>
        <input type="submit" id="search_button" name="search" value="{% trans "Search" %}"/>
        <div class="c"><!--w3c--></div>
    </form>
    <p class="contactExample">{% trans 'Pvz. "Jonas," "Donelaičio" arba "IT padalinys Mantas"' %}</p>
</div>
<div class="contactsResults">
    <h2>{% trans "Rezultatai" %}</h2>
</div>
<div class="contactsList">
    <div class="firstColumn">
        <div id="entities_results_placeholder"></div>
    </div>
    <div class="secondColumn">
        <div id="people_results_placeholder"></div>
        <div id="trigger_more_results">Load more -><!--w3c--></div>
        <div id="contactsLoading2"><img src="{% static "images/loading.gif" %}" alt="Back to top"></div>
    </div>
    <div class="c"><!--w3c--></div>
</div>
 <div id="contactsLoading"><img src="{% static "images/loading.gif" %}" alt="Back to top"></div>
<div id="contactsToTop"><img src="{% static "images/contactArrowUp.png" %}" alt="Back to top"></div>
<div class="contactsSpacer"><!--w3c--></div>
