{% comment %}

Used by: views.people_search

Lists entities and people that match search term.

{% endcomment %}
{% load i18n entity_tags %}
{% block scripts %}
<script type="text/javascript">
{% autoescape off %}

var AJAX_PAGING = 50
var res_entities_cache = {}
var res_search_terms_cache = '';
var res_page_num_cache = 0;

function ajax_people_search(search_terms, page_num, ret_func)
{
    if (!search_terms)
        return;
    var get_entities_list = 0;
    if (page_num == 1)
        get_entities_list = 1;
    var get_args = {
        "search_terms": search_terms,
        "get_entities_list": get_entities_list,
        "obj_return": AJAX_PAGING,
        "obj_skip": AJAX_PAGING * (page_num-1), 
    };
    $.getJSON( "/ajax_people_search/?", get_args, ret_func);
}

function ajax_person_row_render(person)
{
     var assoc_entity = { 'inst_address': [], 'postal_address': [], };
     if (res_entities_cache.hasOwnProperty(person.entity_id))
         assoc_entity = res_entities_cache[person.entity_id];
     var row = '<tr><td>'+person.name+'</td>';
     var inst_addr = assoc_entity.inst_address.join('<br/>');
     if (inst_addr)
         inst_addr += ', <br/>';
     inst_addr += person.role;
     row += '<td>'+inst_addr+'</td>';
     var contact_details = person.phones;
     if (contact_details)
         contact_details += '<br/>';
     contact_details += person.email+'<br/>';
     contact_details += assoc_entity.postal_address.join(', ');
     row += '<td>'+contact_details+'</td></tr>';

     $(row).appendTo('#people');
}

 $(document).ready( function() {
     $('#search_form').submit( function() {
         var search_terms = $('#search_terms').val();
         ajax_people_search(search_terms, 1, function(data) {
             $('#entities_results_placeholder').html('<ul id="entities"></ul>');
             $.each(data.entities, function(i, entity) {
                 $('<li><a href="" data-entityid="'+i+'">'+entity.name+' ('+entity.members_count+')</a></li>').appendTo("#entities");
             });
             res_entities_cache = data.entities;
             $('#entities a').click( function(el) {
                 el.preventDefault();
                 alert($(el).data('entityid'));
             });

             $('#people_results_placeholder').html('<table id="people"></table>');
             $.each(data.people, function(i, person) {
                 ajax_person_row_render(person);
             });

             res_search_terms_cache = search_terms;
             res_page_num_cache = 1;
         });
         return false;
     });

     $('#trigger_more_results').click( function() {
         if (res_page_num_cache > 0) {
             ajax_people_search(res_search_terms_cache, res_page_num_cache+1, function(data) {
                 if (data.people.length < AJAX_PAGING) {
                     res_page_num_cache = 0;
                     return;
                 }
                 $.each(data.people, function(i, person) {
                     ajax_person_row_render(person);
                 });
             });
             res_page_num_cache += 1;
         }
     });

 });
{% endautoescape %}
</script>
{% endblock %}
<div class="row">
    <h1>{% trans "Contacts" %}</h1>
    <p>{% trans "Kontaktų paieškoje galite rasti..." %}</p>
    <form id="search_form">
    <input id="search_terms" name="search_terms" type="text"/>
    <input type="submit" id="search_button" name="search" value="{% trans "Search" %}"/>
    </form>
    <p>pvz. Jonas</p>
</div>
<div class="row">
    <h2>{% trans "Results" %}</h2>
</div>
<div class="columns2 row">
    <div class="column firstcolumn">
        <div id="entities_results_placeholder"/>
    </div>
    <div class="column secondcolumn">
        <div id="people_results_placeholder"/>
    </div>
</div>
