{% extends "housekeeping/housekeeping.html" %}
{% block operations %}
{% load i18n %}

<h3>{% trans 'Summary' %}</h3>
{% if not execute %}
    <p>{% trans 'This is a' %} <strong>{% trans 'dry run' %}</strong>. {% trans 'Nothing has been changed.' %}</p>
    <p>{% trans 'Please check the results. If you are satisfied,' %}<a href="/housekeeping/clean_plugins/execute/">{% trans 'perform the actions listed below' %}</a>, {% trans 'or'%} <a href="/housekeeping/clean_plugins/dryrun/">{% trans 'do another dry run' %}</a>.</p>
{% else %}
    <p><a href="/housekeeping/clean_plugins/execute/">{% trans 'Perform a dry run instead' %}</a>. {% trans 'It's probably too late though.'%}</p>

{% endif %}  

<p>{% trans 'Found' %} {{ trashed_nbsps|length }} {% trans 'text plugins with <em>nbsp</em> text.' %}</p>

<p>{% trans 'Found' %} {{ double_spaces|length }} {% trans 'text plugins with <em>double spaces</em> text.' %}</p>
    
<p>{% trans 'Found' %} {{ trashed_paragraphs|length }} {% trans 'text plugins with <em>empty paragraphs</em>' %}.</p>
{% for plugin in trashed_paragraphs %}
<dt>{{ plugin }}</dt>
<dd>{{ plugin.body }}</dd>
{% endfor %}
</dl>

<p>{% trans 'Found' %} {{ trashed_styles|length }} {% trans 'text plugins with <em>style</em> elements.' %}</p>

<p>{% trans 'Found' %} {{ click_heres|length }} {% trans 'text plugins with <em>click here</em>.' %}</p>
{% for plugin in click_heres %}
<dt>{{ plugin }}</dt>
<dd>{{ plugin.body }}</dd>
{% endfor %}
</dl>

{% endblock operations %}