{% extends "housekeeping/housekeeping.html" %}

{% block title %}
    <title>{% trans 'Arkestra admin statistics' %}</title>
{% endblock title %}

{% block operations %}
<div class = "statistics">
    <h3>{% trans 'Pages' %}</h3>
    <dl>
        <dt>{% trans 'Pages' %}</dt>
        <dd>{{pages}}</dd>
        <dt>{% trans 'Plugins' %}</dt>
        <dd>{{plugins}}</dd>
    </dl>    
    <h3>{% trans 'Contacts & people' %}</h3>
    <dl>
        <dt>{% trans 'People' %}</dt>
        <dd>{{people}}</dd>
        <dt>{% trans 'Entities' %}</dt>
        <dd>{{entities}}</dd>
        <dt>{% trans 'Roles' %}</dt>
        <dd>{{roles}}</dd>
    </dl>    
    <h3>{% trans 'News & events' %}</h3>
    <dl>    
        <dt>{% trans 'News articles' %}</dt>
        <dd>{{newsarticles}}</dd>
        <dt>{% trans 'Events' %}</dt>
        <dd>{{events}}</dd>    
    </dl>    
    <div class = "row columns2">
        <h3>{% trans 'Auth' %}</h3>
        <div class = "column firstcolumn">
            <h4>{% trans 'Users' %}</h4>
            <dl>
                {% for user in users %}
                    <dt><strong>{{ user.get_full_name }}</strong> <em>{{user}}</em>: {{ user.groups.count }}</dt>
                    {% for group in user.groups.all %}
                        <dd>{{ group }}</dd>
                    {% endfor %}
                    <dd>{% trans 'last login:' %} {{ user.last_login|date:"D d M Y" }}</dd>
                    <dd>{% trans 'last edit:' %} {{ user.last_editxxx }}</dd>
                {% endfor %}
            </dl>
        </div>
        <div class = "column lastcolumn">
            <h4>{% trans 'Groups' %}</h4>
            <dl>
                {% for group in groups %}
                    <dt><strong>{{ group }}</strong>: {{ group.user_set.count }}</dt>
                    {% for user in group.user_set.all%}
                        <dd>{{user.get_full_name }} <em>{{user}}</em></dd>
                    {% endfor %}
                {% endfor %}
            </dl>
        </div>
    </div>
</div>
{% endblock operations %}